@import 'tailwindcss';

.background-image {
  background-image: url('../public/mainbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
